#-----<ESA/DRAMA>----------------------------------------------------------------------------------
#                                                                                                  
#      _/_/_/_/    _/_/_/    _/_/                _/_/_/    _/_/_/      _/_/    _/      _/    _/_/  
#     _/        _/        _/    _/              _/    _/  _/    _/  _/    _/  _/_/  _/_/  _/    _/ 
#    _/_/_/      _/_/    _/_/_/_/  _/_/_/_/_/  _/    _/  _/_/_/    _/_/_/_/  _/  _/  _/  _/_/_/_/  
#   _/              _/  _/    _/              _/    _/  _/    _/  _/    _/  _/      _/  _/    _/   
#  _/_/_/_/  _/_/_/    _/    _/              _/_/_/    _/    _/  _/    _/  _/      _/  _/    _/    
#                                                                                                  
#--------------------------------------------------------------------------------------------------
#                                                                                                  
# OSCAR (Orbital Spacecraft Active Removal) Configuration File                                     
#                                                                                                  
#-----------------------< Definition of Data Paths >-----------------------------------------------
#                                                                                                  
# Note: Specify the paths for data, output and input files.                                        
#       Do NOT modify or remove the '-(120 ' sequence since it serves as End of String marker.     
#                                                                                                  
#--------------------------------------------------------------------------------------------------
#                                                                                                  
  input          -(120 char)-    Input Directory                                                   
  output         -(120 char)-    Output Directory                                                  
  /Applications/DRAMA-3.1.1/TOOLS/OSCAR/data         -(120 char)-    Data directory (non-changing data)
  /Applications/DRAMA-3.1.1/TOOLS/OSCAR/data         -(120 char)-    Data directory for files being updated (solar and geomagnetic activity data)
#                                                                                                  
#--------------------------------------------------------------------------------------------------
#                                                                                                  
# Input Files                                                                                      
#                                                                                                  
  oscar.inp       -(120 char)-    Input file name (in Input Directory)                             
#                                                                                                  
#--------------------------------------------------------------------------------------------------
#                                                                                                  
# Output Files                                                                                     
#                                                                                                  
#--------------------------------------------------------------------------------------------------
#                                                                                                  
# Data Files                                                                                       
#                                                                                                  
  fap_day.dat    -(120 char)-    User-defined Solar and Geomagnetic Activity Data file             
  fap_day.dat       -(120 char)-    ESA Solar and Geomagnetic Activity Data File (Dailies)         
  fap_mon.dat       -(120 char)-    ESA Solar and Geomagnetic Activity Data File (Monthlies)       
  samplecyc.f107    -(120 char)-    F10.7 statistical data of sampled cycles                       
  samplecyc.ap      -(120 char)-    Geomagnetic Activity (Ap) data of sampled cycles               
#                                                                                                  
#--------------------------------------------------------------------------------------------------
