#---<DRAMA/MIDAS/midas.cfg>--------------------------<JoG/TUBS-ILR>-<01/2012>---
#    ######   ####     ##             #####   #####     ##    #    #    ##      
#    #       #        #  #            #    #  #    #   #  #   ##  ##   #  #     
#    #####    ####   ######   #####   #    #  #####   ######  # ## #  ######    
#    #            #  #    #           #    #  #    #  #    #  #    #  #    #    
#    ######  #####   #    #           #####   #    #  #    #  #    #  #    #    
#-------------------------------------------------------------------------------
#            ESA Debris Risk Assessment and Mitigation Analysis Tool            
#            MASTER-based Impact Flux and Damage Assessment Software
#-------------------------------------------------------------------------------
#                               DRAMA - MIDAS
#-------------------------------------------------------------------------------
# Note:  "midas.cfg" specifies the settings for executing the software MIDAS. 
#        This file has to be located next to the executable of MIDAS.
#-------------------------------------------------------------------------------
#
#===============================================================================
#
#-----------------------------< Basic Settings >--------------------------------
# Note:  
#--------------------------------------:----------------------------------------
 'input'               path to directory containing the input files
 'output'              path to directory for the output files
 '/Applications/MASTER-8.0.3/data' path to directory containing the PRB files of MASTER
 '/Applications/MASTER-8.0.3/data/clouds' path to directory containing the PRB files for debris clouds
 '/Applications/DRAMA-3.1.1/TOOLS/MIDAS/input/focus' path to directory containing the FOCUS propagator input files
#
#----------------------------< Input file names >-------------------------------
# Note: 
#--------------------------------------:----------------------------------------
 'midas.inp'          Main input file
 'midas.ble'          Definition of BLE setup
 'midas.sdf'          Analysis mode and Surface definition
 'midas.plt'          Setup for gnuplot driver generation
#---eof-------------------------------------------------------------------eof---
