#DRAMA Project Settings v1
#Wed Apr 23 17:52:49 EDT 2025
FrameHeight=1000
ARESBinary=/Applications/DRAMA-3.1.1/TOOLS/ARES/ares_osx
FrameXPosition=1512
FrameWidth=1920
ARESMASTERDataDirectory=/Applications/MASTER-8.0.3/data
RISKDataDirectory=/Applications/DRAMA-3.1.1/TOOLS/SARA/RISK/data
OSCARBinary=/Applications/DRAMA-3.1.1/TOOLS/OSCAR/oscar_osx
REENTRYDataDirectory=/Applications/DRAMA-3.1.1/TOOLS/SARA/REENTRY/data
CROCBinary=/Applications/DRAMA-3.1.1/TOOLS/CROC/croc.jar
CSTATEBinary=/Applications/DRAMA-3.1.1/TOOLS/CSTATE/cstate_osx
MonteCarloBinary=/Applications/DRAMA-3.1.1/TOOLS/SARA/MonteCarlo/MonteCarlo_osx
ToolSelection=TOOL_SARA
ARESFocusDirectory=/Applications/DRAMA-3.1.1/TOOLS/ARES/input/focus
GnuplotBinary=/Applications/DRAMA-3.1.1/Gnuplot.app/Contents/Resources/bin/gnuplot-run.sh
FrameYPosition=25
REENTRYBinary=/Applications/DRAMA-3.1.1/TOOLS/SARA/REENTRY/sesam_osx
MIDASBinary=/Applications/DRAMA-3.1.1/TOOLS/MIDAS/midas_osx
RISKBinary=/Applications/DRAMA-3.1.1/TOOLS/SARA/RISK/seram.jar
OSCARESAURL=https\://static.sdo.esoc.esa.int/SOLMAG/
ProcessorLocal=true
MIDASCloudsDirectory=/Applications/MASTER-8.0.3/data/clouds
MIDASDataDirectory=/Applications/MASTER-8.0.3/data
MIDASFocusDirectory=/Applications/DRAMA-3.1.1/TOOLS/MIDAS/input/focus
WarningMessages=false
